asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
Django==3.0.8
django-extensions==3.0.3
django-redis==4.12.1
django-reset-migrations==0.4.0
django-templated-mail==1.1.1
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
ffmpeg-python==0.2.0
ffmpy==0.2.3
future==0.18.2
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
joblib==0.16.0
Keras==2.4.3
kiwisolver==1.2.0
matplotlib==3.3.1
mhmovie==3.2.2
moviepy==1.0.3
numpy==1.19.1
opencv-python==4.4.0.40
pandas==1.1.0
Pillow==7.2.0
proglog==0.1.9
pydub==0.24.1
PyJWT==1.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
tqdm==4.48.2
urllib3==1.25.10
